* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mitr", sans-serif;
  text-align: center;
  text-transform: uppercase;
}

.container {
  width: 100%;
  min-height: 100vh;
  padding: 1rem;
  background: linear-gradient(0deg, #a9f8ff, #5079a8);

}

.heading {
  color: #fff;
  text-shadow: 4px 4px #000;
  font-size: 4rem;
  text-transform: capitalize;
  margin-bottom: 2rem;
  padding-top: 2rem;
  letter-spacing: 3px;
}
.heading-img {
  width: 5rem;
}
.searchBox {
  width: 30%;
  border: none;
  border-radius: 8px 0 0 8px;
  padding: 0.5rem 0;
}
.searchBox:focus-visible {
  outline: none;
}
.btn {
  width: 4.5rem;
  padding: 0.5rem 0;
  margin: 0 -4px;
  border: none;
  outline: none;
  border-radius: 0 8px 8px 0;
  background-color: #ffffff;
}
.card-container1 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 2rem 0;
}
.card-container2 {
  width: 80%;
  margin: 2rem auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.card1 {
  width: 280px;
  /*min-width: 280px;*/
  border-radius: 8px;
  /* background: rgba(255,255,255,0.1);
    box-shadow: 10px 10px 20px -10px rgba(31, 31, 31, 0.472);
    border-right: 1px solid rgba(158, 158, 158, 0.383);
    border-bottom: 1px solid rgba(255,255,255,0.2);
    backdrop-filter: blur(20px); */
  flex-shrink: 1;
}

.card2 {
  width: 280px;
  margin: 1rem;
  flex-wrap: wrap;
  text-align: center;
  border-radius: 8px;
  /* background: rgba(255,255,255,0.1);
    box-shadow: 10px 10px 20px -10px rgba(31, 31, 31, 0.472);
    border-right: 1px solid rgba(158, 158, 158, 0.383);
    border-bottom: 1px solid rgba(255,255,255,0.2);
    backdrop-filter: blur(20px); */
  background: linear-gradient(rgba(71, 71, 71, 0.65), rgba(128, 128, 128, 0.6)),
    url(night1.png);
  background-size: cover;
}
.temp {
  font-size: 3rem;
}
.card-title {
  font-size: 2rem;
  text-transform: uppercase;
}
@keyframes animation {
  0% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(8px);
  }
  50% {
    transform: translateY(0px);
  }
  75% {
    transform: translateY(-8px);
  }
  100% {
    transform: translateY(0px);
  }
}
.card-animation {
  transition: all linear;
  animation: animation linear 2s infinite;
}

.card-img-top {
  width: 10rem;
  padding: 1rem;
  align-self: center;
}
.card-text {
  color: #fff;
  text-shadow: 2px 2px 4px #000;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.body1 {
  width: 100%;
  background: #fff;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}
.body2 {
  display: flex;
  justify-content: space-evenly;
  margin-top: 0.5rem;
}
.body2 img {
  width: 2rem;
}
@media only screen and (max-width: 1350px) {
  body {
    font-size: 75%;
  }
}
@media only screen and (max-width: 1200px) {
  .card-container2 {
    grid-template-columns: 48% 48%;
  }
}
@media only screen and (max-width: 768px) {
  .card-container2 {
    grid-template-columns: auto;
  }
}
